@font-face {
  font-family: GeoramaLight;
  src: url("./fonts/Georama-Light.ttf");
}

* {
  font-family: GeoramaLight;
}

body {
  background-color: darkslategray;
  color: white;
}

input {
  width: 25vw;
  padding: 5px 10px;
}

button {
  padding: 2px;
  font-size: larger;
}

.task {
  display: flex;
  align-items: center;
  column-gap: 200px;
  justify-content: space-between;
  padding: 5px 15px;

  border: solid 2px darkgreen;
  border-radius: 25px;
}
